@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  font-family: "Dancing Script", cursive;
  background-color: #9d76c1;
}
.bg-container {
  background-color: #9d76c1;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.poem-container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #e5cff7;
  border-radius: 5px;
}
.title {
  font-size: 55px;
  border-radius: 5px;
  background-color: #e5cff7;
  color: rgb(128, 3, 105);
}

.text {
  font-size: 25px;
  color: black;
  background-color: #e5cff7;
}
.mahal {
  font-size: 30px;
  color: black;
  background-color: #e5cff7;
  text-decoration: none;
}
